# Database (PostgreSQL / Neon)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/adventureos?schema=public"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="adventureos-super-secret-key-development-mode-123456"

# Payments Configuration ("MOCK" or "AZUL")
PAYMENT_DEFAULT_PROVIDER="MOCK"

# AZUL Dominican Republic Credentials
AZUL_MERCHANT_ID="39000000000"
AZUL_MERCHANT_NAME="SunKart Park Punta Cana"
AZUL_AUTH_KEY="00000000000000000000000000000000"
AZUL_ENVIRONMENT="TEST"
AZUL_API_URL="https://pruebas.azul.com.do/PaymentPage/"
